#page-local-catalog-index,
#page-local-catalog-search {
    &.fullwidth.centered-main {
        div[role="main"] {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    &.noheader {
        #page-header {
            display: none;
        }
    }
    
    .notifications {
        display: none;

        &:has(div) {
            margin-top: 1rem;
        }
    }

    .main-inner {
        margin-top: 0 !important;
        padding: 0 !important;
    }

    #page {
        padding: 0 !important;
    }

    .catalog-search-wrapper {
        border-bottom: 1px solid #9da4af;
        height: 70px;
        background-color: #dde0e3;
        z-index: 10;
        position: fixed;

        .catalog-search {
            width: 830px;

            [data-for="dropdowndialog_content"] {
                padding: 0 !important;
            }

            .simplesearchform,
            .simplesearchform .input-group {
                width: 100%;
            }

            .remove-icon::after {
                content: "";
            }
        }

        .divider {
            width: 1px;
            height: 50px;
        }
    }

    .catalog-page-container {
        &:not(.catalog-page-error) {
            margin-top: 70px;
        }
        max-width: 830px;
        .catalog-page-not-found {
            .not-found-image {
                width: 100%;
                max-width: 300px;
                height: auto;
                opacity: .7;
            }
        }
        .catalog-list {
            .catalog-course:not(:last-of-type) {
                border-bottom: 1px solid #b2b8c0;
            }
            .catalog-course {
                flex-direction: column;
                flex: 0 0 calc(100% - 10px);
                padding-bottom: .75rem;
                padding-top: .75rem;
                width: 100%;
                position: relative;

                .catalog-course-image {
                    min-width: 12.5rem;
                    min-height: 9rem;
                    max-height: 9rem;
                    height: 9rem;

                    img {
                        object-fit: cover;
                    }
                }
                .catalog-course-title,
                .catalog-course-field {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                    overflow-wrap: break-word;
                }
                .catalog-course-field {
                    font-size: .875em;
                    line-clamp: 3;
                    -webkit-line-clamp: 3;
                }
                .catalog-course-body {
                    padding-top: 1rem;
                }
                .catalog-course-category {
                    border-top: 1px solid lightgray;
                    border-bottom: 1px solid lightgray;
                }

                @media (min-width: 768px) {
                    .catalog-course-image {
                        max-width: 12.5rem;
                    }
                    .catalog-course-body {
                        padding-top: 0;
                    }
                }
            }
            @media (min-width: 768px) {
                .catalog-course {
                    flex-direction: row;
                    flex: 0 0 100%;
                }
            }
        }

        .course-info-summary {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            white-space: normal;
            overflow-wrap: break-word;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            margin-bottom: 1rem;
            
            p {
                margin-bottom: 0 !important;
            }
            > *:not(p) { 
                display: contents;
            }
        }
    }

    .category-page {
        .catalog-heading {
            border-bottom: 1px solid #b2b8c0;
            margin-bottom: 1rem;
        }
    }

    @media (min-width: 768px) {
        #page.drawers div[role="main"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
