<div class="card course-card mx-1" role="listitem" data-region="course-content" data-course-id="{{{id}}}">
    <a href="{{viewurl}}" tabindex="-1">
        <div class="card-img-top" style='background-image: url("{{{courseimage}}}");'>
            <span class="visually-hidden">{{fullname}}</span>
        </div>
    </a>
    <div class="card-body pe-1 course-info-container" id="course-info-container-{{id}}-{{uniqid}}">
        <div class="d-flex align-items-start">
            <div class="w-100 text-truncate">
                <a href="{{viewurl}}" class="aalink coursename me-2 mb-1">
                    {{> core_course/favouriteicon }}
                    <span class="visually-hidden">
                        {{#str}}aria:coursename, core_course{{/str}}
                    </span>
                    <span class="multiline" title="{{fullname}}">
                        <span class="visually-hidden">{{{fullname}}}</span>
                        <span aria-hidden="true">
                            {{#shortentext}}55, {{{fullname}}} {{/shortentext}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="course-info-summary overflow-hidden pt-1">{{{summary}}}</div>
    </div>
</div>