<div class="catalog-page-not-found text-center d-flex flex-column align-items-center px-1 pb-4 pt-6">
    <img src="{{notfoundimg}}" alt="Not found" class="not-found-image">
    <h2>Oops... nothing here</h2>
    <p>{{notfoundmessage}}</p>
</div>